body
{
 background-color: black;  
   
}
#regFrom input:valid,
input:in-range 
{
    background:hsl(120, 50%, 90%);
    border-color:hsl(120, 50%, 50%);
}

input:invalid,
input:out-of-range 
{
    border-color:hsl(0, 50%, 50%);
    background:hsl(0, 50%, 90%);
}
#header
{
    width:69.5%;
    min-height:220px;
    padding:0.2%;
    margin-left:auto;
    margin-right:auto;
    background-color: #000;
    border-top-style:hidden;
    border-bottom-style:hidden;
    border-color: Blue;
    margin-top: -10px;
    position:relative;
    z-index:2;
    font-family:"Courier New", Courier, monospace;
}

#loginBox
{
    
    position:absolute;
    top:0;
    right:0;
    max-width: 70%;
    background-color:#000;
    text-align:right;
    color:#FFFFFF;
   

   
}
#loginBox input[type=submit]
{
    position:relative;
    width:14%;
    font-family:"Courier New", Courier, monospace;
    margin-top:3px;
    font-weight:bold;
    margin-bottom: 3px;
    margin-right:15px;
    border-radius: 8px;
    background-color: #ffffff;
}
#loginBox input[type=text]
{
    
    max-width: 17%;
}
#loginBox input[type=password]
{
    
    max-width: 17%;   
}
#loginBox input[type=button]
{
    position:relative;
    width:20%;
    font-family:"Courier New", Courier, monospace; 
    font-weight:bold;
    border-radius: 8px;
    background-color: #ffffff;
    margin-right:5px;
    
} 
#loginBox input[value=Logout]
{
    position:relative;
    width:40%;
    font-family:"Courier New", Courier, monospace;
    margin-top:7px;
    font-weight:bold;
    margin-bottom: 3px;
    margin-right:5px;
    border-radius: 8px;
    background-color: #ffffff;
}



/* START NAV MENU */
nav {
 
  height:40px;
  position:absolute;
  bottom:0;
  margin-left:-5px;
  width:100.1%;
}
 
 
nav ul {
  font-family: Arial, Verdana;
  font-size: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}
 
nav ul li {
  display: block;
  position: relative;
  float: left;
  width:25%;
}
 
nav li ul { 
  display: none; 
}
 
nav ul li a {
  display: block;
  text-decoration: none;
  padding: 7px 15px 3px 15px;
  background-color: #FFFFFF;
  color: #000; 
  margin-left: 1px;
  height:30px; /* Width and height of top-level nav items */
  text-align:center;
  
}
 
nav ul li a:hover { 
  background-color: #000;
  color:#FFFFFF;
}
 
nav li:hover ul {
  display: block;
  position: absolute;
  height:30px;
  width:100%;
  
}
 
nav li:hover li {
  float: none;
  font-size: 18px;
  background-color:#FFFFFF;
  color:#000;
  width:100%;
 
}
 
nav li:hover a { 
  background: #000; 
  color:#ffffff;
  height:30px; /* Height of lower-level nav items is shorter than main level */
  
}
 
nav li:hover li a:hover { 
  background: #95A9B1; 
}
 
nav ul li ul li a {
    text-align:left; /* Top-level items are centered, but nested list items are left-aligned */
}
 
/* END NAV MENU */

#maindiv
{
    min-height: 700px;
    position:relative;
    width:70%;
    background-color:gainsboro;
    margin-left:auto;
    margin-right:auto;
    margin-top: -21px;
    z-index:1;
    text-align: center;
    position:relative;
    padding-bottom: 10px;
    font-family:"Courier New", Courier, monospace; 
}

#maindiv input [type = button]
{
    position:relative;
    width:20%;
    font-family:"Courier New", Courier, monospace; 
    font-weight:bold;
    border-radius: 8px;
    background-color: #ffffff;
    margin-right:5px;
}

#testimonialsDiv
{
    width:65%;
    background-color:gainsboro;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    padding-bottom: 10px;
    font-family:"Courier New", Courier, monospace; 
}

#benefitsDiv
{
    width:35%;
    background-color:gainsboro;
    margin-left:auto;
    margin-right:auto;
    text-align: left;
    padding-bottom: 10px;
    font-family:"Courier New", Courier, monospace; 
}

#footer
{
    position:relative;
    width:70%;
    background-color:#FFFFFF;
    margin-left:auto;
    margin-right:auto;
    margin-top: -16px;
    padding:0;
    font-family:"Courier New", Courier, monospace;
}
#maindiv h1
{
    text-align:center;
}

#bannerHome
{
    margin-left: auto;
    margin-right: auto;
}


#p2
{
    text-align:center;
    margin-left: 2%;
    margin-right: 2%;
    background-color:#ffffff;
    border-radius: 3px;
    padding: 6px;

    font-weight:bold;
    font-size: 130%;
}
#regFormDiv
{
    background-color: #ffffff;
    box-shadow: 0 0 10px 5px #052D6E;
    padding: 10px;
    width: 50%;
    margin-left: auto;
    margin-right:auto;
}
#regFormDiv label, #regFormDiv input[type=text],#regFormDiv input[type=password]
{
    display: block;
    float: left;
    margin-bottom: 10px;
    width:27%;

}
#regFormDiv label
{
    text-align: left;
    padding-right: 20px;
    margin-left:24%;
    width: 25%;
}

#regFormDiv input[type=submit] 
{
    margin-left:28%; 
    
    float:left;
    width: 20%
}
#regFormDiv input[type=reset]
{
    float:left;
    width: 20%;
    margin-left:6%;
}

#regFormDiv br
{
    clear:left;
}
#userRegForm
{
    text-align:center;
}
ul#gallery
{

    list-style-type: none;
    margin-right:25px;
    
    
    margin-left: 4%;
    
}
ul#gallery li
{
    display: inline;
    
    position:relative;
    float:left;
    width:31.3%;
    
    


}
ul#gallery li img
{
    /*    border:2px solid #052D6E;
        border-radius: 4px;*/
    width: 100%;
    
    margin:1%;

}
ul#gallery li img:hover
{
    opacity:0.4;

}

#adminTableTwo
{
    margin-left: auto;
    margin-right: auto;
}

#adminTableTwo td
{
    width: 20%;
    text-align: left;
    padding: 5px;
    border-spacing: 1px;
}

#adminTableTwo tr
{
    width: auto;
    text-align: center;
}

#adminTableTwo th
{
    color: blue;
    text-decoration: underline;
    text-align: left;
}

#adminTableOne
{
    margin-left: auto;
    margin-right: auto;
    
}

#adminTableOne td
{
    width: 20%;
    text-align: left;
    padding: 5px;
    border-spacing: 1px;
}

#adminTableOne tr
{
    width: auto;
    text-align: center;
}

#adminTableOne th
{
    color: blue;
    text-decoration: underline;
    text-align: left;
}

#adminPage
{
    background-color:#6A93D4;
}

#adminRegForm
{
    width: auto;
    clear: both;
    text-align: right;
    margin-right:auto;
    margin-left:auto;
}

#adminRegTable
{
    margin-left: auto;
    margin-right: auto;
}

#adminRegTable tr td
{
    text-align: left;
    padding: 5px;
}

#adminRegTable tr td input
{
    text-align: left;
    width: 100%;
}

#adminRegTable tr td #submit1
{
    text-align: center;
    width: 100%;
}

#adminRegTable tr td td #submit1
{
    text-align: center;
    width: 100%;
}

#adminRegFormReset
{
    text-align: left;
}

#adminRegForm input
{
    width: auto;
    clear: both;
    text-align: left;
}

#festTextArea
{
    width: 90%;
    clear: both;
}

#adminRegForm select
{
    width: 100%;
    clear: both;
    text-align: center;
}

#adminHeader
{
    width: auto;
    height: auto;
}

h2 a { 
    color: gainsboro;
    text-decoration:none;
    padding-left: 25px;
    padding-right: 25px;
}

h2 a:visited { 
    color: gainsboro;
    text-decoration: none; 
    padding-left: 25px;
    padding-right: 25px;
}

h2 a:hover { 
    color: white;
    text-decoration: underline;
    padding-left: 25px;
    padding-right: 25px;
}

h2 a:active { 
    color: black;
    background-color: white;
    text-decoration: none;
    padding-left: 5px;
    border-radius:5px;
    padding-left: 25px;
    padding-right: 25px;
}

#messagesH2 {
    border-style: solid;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: white;
    text-align: center;
    margin-right: 5px;
    border-radius:25px;
    width: auto;
}

#orgFormDiv
{
    background-color: #ffffff;
    box-shadow: 0 0 10px 5px #052D6E;
    padding: 10px;
    width: 50%;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
}
#orgFormDiv label, #orgFormDiv input[type=text],#orgFormDiv input[type=password]
{
    display: block;
    float: left;
    margin-bottom: 10px;
    width:27%;

}
#orgFormDiv label
{
    text-align: left;
    padding-right: 20px;
    margin-left:24%;
    width: 25%;
}

#orgFormDiv input[type=submit] 
{
    margin-left:28%; 

    float:left;
    width: 20%
}
#orgFormDiv input[type=reset]
{
    float:left;
    width: 20%;
    margin-left:6%;
}

#orgFormDiv br
{
    clear:left;
}
#orgRegMain h1
{
    text-align: center;
    background-color:white;
    margin-right:30%;
    margin-left:30%;
}
#footerTable
{
    width:85%;
    margin-right:auto;
    margin-left: auto;
    
}

#footerTable a
{
    text-decoration: none;

    color: gray;
    font-size: small;
    font-weight: bold;
    

}
#footerTable td
{

    width: 15%;
    text-align: center;
    
}

#footer p
{
    text-align: center; 
    font-weight: bold;
    font-size: small;

}

#adminBody
{
    /*This is just so i can see the text on the page.*/
    background: white;
    
}

#messageBody
{
    /*This is just so i can see the text on the page.*/
    background: #6A93D4;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#messageDisplay
{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    
    background-color: white;
}

#messageDisplay tr
{
    width: auto;
    border-style: solid;
    border-color: black;
}

#messageDisplay td
{
    width: auto;
    border-style: solid;
    border-color: black;
    height: 25%;
}
#aboutPicTable
{
    width: 60%;
    margin-right:auto;
    margin-left:auto;
    text-align: center;
    font-weight: bold;
}
#aboutPicTable img
{
    width:90%;
}

#festivalDisplayTable
{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
#supportText
{
    
    margin-left: 30%;
    margin-right: 30%;
    width:40%;
    height:150px;
    border: solid black 2px;
    background-color:appworkspace;
    resize: none;
}

#journeyTableOne
{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: auto;
    max-width: 100%;
}

#journeyTableOne td
{
    width: 20%;
    text-align: left;
    padding: 6px;
    border-spacing: 1px;
}

#journeyTableOne td.rightAlign
{
    text-align: right;
}

#journeyTableOne tr
{
    width: auto;
    text-align: center;
}



#msgJustify
{
    text-align: justify;
}

#imageTableOne
{
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
#search 
{
    position:absolute;
    bottom:45px;
    right:0;
    background-color:#000;
    text-align:center;
    color:#FFFFFF;  
}

#search p 
{
    margin:0;
    margin-left: 5px;
    text-align:left;
}


#goalComplete
{
    background-color: #7fff7f;
    color: #000000;
}

#goalInProgress
{
    background-color: #FFFF91;
    color: #000000;
}

#goalFailed
{
    background-color: #FF6C6C;
    color: #000000;
}
#search input[type=submit]
{
    position:relative;
    width:20%;
    font-family:"Courier New", Courier, monospace;
    margin-top:3px;
    font-weight:bold;
    margin-bottom: 3px;
    margin-right:15px;
    border-radius: 8px;
    background-color: #ffffff;
}
#backImageLeft
{
    position: absolute;
    position:fixed;
    margin-right:1px;
    margin-left: -10px;
    width:16%;
    min-height:100%;
    margin-bottom: 0px;
    background-image: url('Images/left.jpg');
    background-repeat: no-repeat;
    background-size: 300px;
    
}

#backImageRight
{
    
    position: absolute;
    position:fixed;
    margin-left: 83%;
    
    width:25%;
    min-height:100%;
    background-image: url('Images/right.jpg');
    background-size: 300px;
    background-repeat: no-repeat;
    
    
}

#randomBanner
{
    width:100%;
}
#randomBanner2
{
    width:100%;
    position: absolute;
    bottom: 0;
    left:0;
    margin-bottom:-5px;
}

#randomBanner img, #randomBanner2 img
{
    width: 45%;
    height:120px;  
}


#regForm label, #regForm input[type=text],#regForm input[type=password],
#regForm input[type=date],#regForm input[type=email]
{
    display: block;
    float:left;
    margin-bottom: 30px;

}
#regForm input[type=text],#regForm input[type=password],
#regForm input[type=date], #regForm input[type=email]
{
    width:17%;    
}
#regForm label
{
    text-align: right;
    padding-right: 20px;
    margin-left:15%;
    width: 30%;
}

#regForm input[type=submit] 
{
    margin-left:40%; 
    border-radius: 8px;
    background-color: #ffffff;
    float:left;
    width: 10%;
}
#regForm input[type=reset]
{
    float:left;
    border-radius: 8px;
    background-color: #ffffff;
    margin-left:6%;
    width: 10%;
}


#regForm br
{
    clear:left;
}
#header img
{
    position: absolute;
    bottom:0;
    left:0;
    width: 50%;
    height:50%;
    margin-bottom: 60px;
    margin-left:5px;
    
}








