body
{
   
    background-color: red;

}

#header
{
    width:69.5%;
    min-height:220px;
    padding:0.2%;
    margin-left:auto;
    margin-right:auto;
    background-image:url('Images/local/headerpic.png');
    border-top-style:hidden;
    border-bottom-style:hidden;
    border-color: Blue;
    margin-top: -10px;
    position:relative;
    z-index:2;
    box-shadow: 10px 0 5px -2px #000, -10px 0 5px -2px #000;
    font-family:"Courier New", Courier, monospace;
}

#loginBox
{
    position:absolute;
    top:0;
    right:0;
    max-width: 70%;
    background-color:#000000;
    text-align:right;
    color:#FFFFFF
}
#loginBox input[type=submit]
{
    float:right;
    width:45%;
    font-family:"Courier New", Courier, monospace;
    margin-top:3px;
    font-weight:bold;
    margin-bottom: 3px;
    margin-right:15px;
}
#loginBox input[type=button]
{
    float:left;
    width:33%;
    font-family:"Courier New", Courier, monospace; 
    margin-top:3px;
    font-weight:bold;
    margin-bottom: 3px;
    margin-left:5px;
}
ul#navmenu
{
    position:absolute;
    bottom:0;
    width: 101.2%;
}
ul#navmenu, ul.sub1
{
    list-style-type: none;
    margin: 0px;
    margin-left:-4px;
    padding: 0px;
}

ul#navmenu a
{
    text-decoration: none;
    display: block;
    height:33px;
    line-height: 33px;
    background-color:#447BD4;
    border-radius: 1px;
    border: 2px solid #052D6E;
    color:#FFFFFF;
}

ul#navmenu li
{
    margin-right: 0px;
    width: 24.78%;
    text-align: center;
    position: relative;
    float: left;
}

ul#navmenu .sub1 a 
{
    margin-top: 1px;
    width:125px;
}

ul#navmenu li:hover > a 
{
    background-color: #8942D6;
}

ul#navmenu li:hover a:hover
{
    background-color: #000;
}

ul#navmenu ul.sub1 
{
    display: none;
    position: absolute;
}

ul#navmenu li:hover .sub1
{
    display: block;
}

#maindiv
{
    min-height: 500px;
    position:relative;
    width:70%;
    background-color:#6A93D4;
    margin-left:auto;
    margin-right:auto;
    margin-top: -21px;
    z-index:1;
    text-align: center;
    position:relative;
    padding-bottom: 10px;
    box-shadow: 10px 0 5px -2px #000, -10px 0 5px -2px #000;
    font-family:"Courier New", Courier, monospace; 
}
#p1
{

    font-size: medium;
    color:#000000;
    margin-right: 4.5%;
    margin-left: 5%;
    background-color:#ffffff; 
    border-radius: 3px;
    padding:6px;
    font-weight:bold;
    box-shadow: 0 0 10px 5px #052D6E;
    text-align: justify;
    position: relative;
    overflow: hidden;
    
    

}
#footer
{
    margin-bottom: -10px;
    position:relative;
    width:70%;
    background-color:#284A7E;
    margin-left:auto;
    margin-right:auto;
    margin-top: -16px;
    padding:0;
    box-shadow: 10px 0 5px -2px #000, -10px 0 5px -2px #000;
    font-family:"Courier New", Courier, monospace;


}
#maindiv h1
{
    text-align:center;
}

#bannerHome
{
    margin-left: auto;
    margin-right: auto;
}

#bannerAdvertsLeft
{
    
    float:left;
    width:46%;
    
    
}
#bannerAdvertsRight
{
    
    float:right;
    width:46%;
    
    
    
}
#bannerAdvertsLeft img
{
    width: 80%;
    
    float:right;
}

#bannerAdvertsRight img
{
    float:left;
    width: 80%;
    
}
#p2
{
    text-align:center;
    margin-left: 2%;
    margin-right: 2%;
    background-color:#ffffff;
    border-radius: 3px;
    padding: 6px;

    font-weight:bold;
    font-size: 130%;
}
#regFormDiv
{
    background-color: #ffffff;
    box-shadow: 0 0 10px 5px #052D6E;
    padding: 10px;
    width: 50%;
    margin-left: auto;
    margin-right:auto;
}
#regFormDiv label, #regFormDiv input[type=text],#regFormDiv input[type=password]
{
    display: block;
    float: left;
    margin-bottom: 10px;
    width:27%;

}
#regFormDiv label
{
    text-align: left;
    padding-right: 20px;
    margin-left:24%;
    width: 25%;
}

#regFormDiv input[type=submit] 
{
    margin-left:28%; 
    
    float:left;
    width: 20%
}
#regFormDiv input[type=reset]
{
    float:left;
    width: 20%;
    margin-left:6%;
}

#regFormDiv br
{
    clear:left;
}
#userRegForm
{
    text-align:center;
}
ul#gallery
{

    list-style-type: none;
    margin-right:25px;
    
    
    margin-left: 4%;
    
}
ul#gallery li
{
    display: inline;
    
    position:relative;
    float:left;
    width:31.3%;
    
    


}
ul#gallery li img
{
    /*    border:2px solid #052D6E;
        border-radius: 4px;*/
    width: 100%;
    
    margin:1%;

}
ul#gallery li img:hover
{
    opacity:0.4;

}


#adminTableOne
{
    margin-left: auto;
    margin-right: auto;
    
}

#adminTableOne td
{
    width: 20%;
    text-align: center;
    padding: 5px;
    border-spacing: 1px;
}

#adminTableOne tr
{
    width: auto;
    text-align: center;
}

#adminTableOne th
{
    color: blue;
    text-decoration: underline;
}

#adminPage
{
    background-color:#6A93D4;
}

#adminRegForm
{
    width: auto;
    clear: both;
    text-align: right;
    margin-right:auto;
    margin-left:auto;
}

#adminRegTable
{
    margin-left: auto;
    margin-right: auto;
}

#adminRegFormReset
{
    text-align: left;
}

#adminRegForm input
{
    width: auto;
    clear: both;
    text-align: left;
}

#festTextArea
{
    width: 90%;
    clear: both;
}

#adminRegForm select
{
    width: 100%;
    clear: both;
    text-align: center;
}

#adminHeader
{
    width: auto;
    height: auto;
}

h2
{
    text-decoration: underline;
}

#orgFormDiv
{
    background-color: #ffffff;
    box-shadow: 0 0 10px 5px #052D6E;
    padding: 10px;
    width: 50%;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
}
#orgFormDiv label, #orgFormDiv input[type=text],#orgFormDiv input[type=password]
{
    display: block;
    float: left;
    margin-bottom: 10px;
    width:27%;

}
#orgFormDiv label
{
    text-align: left;
    padding-right: 20px;
    margin-left:24%;
    width: 25%;
}

#orgFormDiv input[type=submit] 
{
    margin-left:28%; 

    float:left;
    width: 20%
}
#orgFormDiv input[type=reset]
{
    float:left;
    width: 20%;
    margin-left:6%;
}

#orgFormDiv br
{
    clear:left;
}
#orgRegMain h1
{
    text-align: center;
    background-color:white;
    margin-right:30%;
    margin-left:30%;
}
#footerTable
{
    width:85%;
    margin-right:auto;
    margin-left: auto;
}

#footerTable a
{
    text-decoration: none;

    color: gray;
    font-size: small;
    font-weight: bold;

}
#footerTable td
{

    width: 15%;
    text-align: center;
}

#footer p
{
    text-align: center; 
    font-weight: bold;
    font-size: small;

}

#adminBody
{
    /*This is just so i can see the text on the page.*/
    background: white;
    
}

#messageBody
{
    /*This is just so i can see the text on the page.*/
    background: #6A93D4;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#messageDisplay
{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    
    background-color: white;
}

#messageDisplay tr
{
    width: auto;
    border-style: solid;
    border-color: black;
}

#messageDisplay td
{
    width: auto;
    border-style: solid;
    border-color: black;
    height: 25%;
}
#aboutPicTable
{
    width: 60%;
    margin-right:auto;
    margin-left:auto;
    text-align: center;
    font-weight: bold;
}
#aboutPicTable img
{
    width:90%;
}

#festivalDisplayTable
{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
#supportText
{
    
    margin-left: 30%;
    margin-right: 30%;
    width:40%;
    height:150px;
    border: solid black 2px;
    background-color:appworkspace;
    resize: none;
}

#journeyTableOne
{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: auto;
    max-width: 100%;
}

#journeyTableOne td
{
    width: 20%;
    text-align: left;
    padding: 6px;
    border-spacing: 1px;
}

#journeyTableOne td.rightAlign
{
    text-align: right;
}

#journeyTableOne tr
{
    width: auto;
    text-align: center;
}



#msgJustify
{
    text-align: justify;
}

#imageTableOne
{
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
#search 
{
    position:absolute;
    bottom:37px;
    right:0;
    width:45%;
    background-color:#000000;
    text-align:right;
    color:#FFFFFF  
}

#search p 
{
    margin:0;
}

